.header {
    background-color: rgb(34, 34, 34);
    box-shadow: 1px 1px 4px 0 rgb(0 0 0 / 10%);
    position: fixed;
    width: 100%;
    z-index: 3;
  }

  a.footer-link {
    color: #000 !important;
    text-decoration: none;
    padding:0 15px;
  }

  .v-application--wrap{
    min-height: 230px!important;
    }

  #mapView {
    width: 100%;
    height:calc(70vh - 155px);
    margin-top: 0%;
  }

  #footer{
    display:none;
  }

  @media (min-width: 960px){

    #footer {
      display:flex;
    }

    #mapView {
        position:absolute;
        top:0px;
        width:75%;
        height:calc(100vh - 155px);
        margin-top: 0%;
      }

    .mapboxgl-canvas{
        margin-right:0px;
    }
  }

  #mapView canvas {
    filter:grayscale(1);
  }

  .hidden {
    opacity:0;
  }

  .marker-orange,
  .marker-red,
  .marker-green,
  .marker-blue,
  .marker-yellow {
    background-size: cover;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #7db4db;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
    /** transition: 0.3s; **/
    transform-origin: center;
    outline:1px solid white;

  }

  .marker:hover {
      box-shadow: 0px 0px 5px 2px #A4C8E1;
  }

  .marker-red {
    background-image: url('img/mapbox-icon-red.png');
  }

  .marker-green {
    background-image: url('img/mapbox-icon-green-01.png');
  }

  .marker-blue {
    background-color: #0a2a77;
  }

  .marker-blue:hover {
      box-shadow: 0px 0px 5px 2px #0a2a77;
  }

  .marker-yellow {
    background-image: url('img/mapbox-icon-yellow-01.png');
  }

  .emphasized {
    height: 14px;
    width: 14px;
    box-shadow: 0px 0px 2px 0px rgba(111, 219, 246, 0.708);
  }

  #result-list, #result-description{
    height: 50vh;
    /* or any height you want */
    overflow-y: auto
  }
/*============ navbar =============*/

nav a{
    text-decoration:none;
    
}

.upper-nav a:hover{
    text-decoration:underline;
}

.navbar{
    padding: 0px 0px 16px 0px!important;
    background-color: white;
    box-shadow: 0px 2px 2px rgba(0,0,0,.1);
    border-bottom:2px solid rgba(0,0,0,.1)
  }
  
  .navbar .navbar-brand{
    padding-top: 0px;
    font-family: 'Proxima Nova';
    font-weight: 500;
    font-size: 24px;
  }
  
  .navbar-light .navbar-nav a.nav-link, a.navbar-brand{
    color: black!important;
    font-family: 'roboto', Arial, Helvetica, sans-serif;
    padding: 8px 10px;
  }
  
  .navbar.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    z-index: 1;
    background-color: white;
  }
  
  a.parent-title{
    font-size: 13px;
    padding: 0px 10px 0 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: black!important;
    font-family: 'Proxima Nova';
  }
  
  .upper-nav{
    padding: 20px 0px 6px 0px;
    margin-top:4px;
  }

  .upper-nav, .navbar {
    padding-left:15px;
  }

  .navbar-brand {
    margin-left:5px;
  }

#uconn-banner .row-container {
  width: 100%;
  margin: 0px auto;
  box-sizing: border-box;
  padding-top:0px;
  padding-bottom:0px;
}

#uconn-banner #button-container .btn, #uconn-banner #button-container .btn:hover, #uconn-banner #button-container .btn:visited, #uconn-banner #button-container .btn:focus{
  background-color:transparent!important;
  border:0px!important;
}

#uconn-banner .row-container #uconn-az:focus+div:not(.popup-container), #uconn-banner .row-container #uconn-az:hover+div:not(.popup-container), #uconn-banner .row-container #uconn-search:focus+div:not(.popup-container), #uconn-banner .row-container #uconn-search:hover+div:not(.popup-container) {
  top: 60px!important;
}